# Django specific files
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Database
db.sqlite3
*.db

# Media and static files
/media
/staticfiles

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code specific
.vscode/
.history

# Byte-compiled / optimized / DLL files
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Unit test / coverage reports
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db
